
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use './m3-theme';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$estandar-front-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$green-palette,
  ),
  density: (
    scale: 0,
  )
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($estandar-front-theme);
  
}

.primary-button {
  @include mat.button-color(m3-theme.$light-theme, $color-variant: primary);
}
.button-secondary {
  @include mat.button-color(m3-theme.$light-theme, $color-variant: secondary);
}
.button-tertiary {
  @include mat.button-color(m3-theme.$light-theme, $color-variant: tertiary);
}
.button-error {
  @include mat.button-color(m3-theme.$light-theme, $color-variant: error);
}
// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($estandar-front-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($estandar-front-theme);


$theme: mat.define-theme();

.error-checkbox {
  @include mat.checkbox-color($theme, $color-variant: error);
}